.content{
    padding: 2rem 4rem 1.45rem;
}
.container-fluid{
    padding: 1% 7% 3%;

}

.navbar-brand img{
    padding-left: 0.3rem;
    width: 40%;
}

.intro{
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-Szjp64wK-Sv_JfX34vdx6wtdisg1ikoRw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.non-blur{
    backdrop-filter: blur(10px);
}

.intro1{
    padding: 13% 1% 16% ;
}


#footer{
    background-color:#354259; 
}

.s-icons{
    color: white;  
}
  
.fa-linkedin{
    padding-left: 2rem;
    padding-right: 2rem;
}

.fa-facebook:hover{
color:#151560
}

.fa-linkedin:hover{
color:#4545eb
}

.fa-instagram:hover{
color:#ff00d8
}